<h3 align="center">Book Details</h3>
<div class="book" >
    <table class="table mat-table">
        <tr>
            <th><label> <b> ID: </b></label></th>
            <td>{{book.id}}</td>
            </tr>
            <tr>
                <th><label> <b> Name: </b></label></th>
                <td>{{book.name}}</td>
            </tr>
            <tr>
                <tr>
                <th><label> <b> Author: </b></label></th>
                <td>{{book.author}}</td>
            </tr>
            <tr>
            <tr>
                <tr>
                <th><label> <b> Page Number: </b></label></th>
                <td>{{book.pageNumber}}</td>
            </tr>
            <tr>         
    </table>
</div>