<h3 align="center">Add Book</h3>
<div class="shelf">
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <table class="table mat-table">
            <tr>
                <th><label> <b> ID: </b></label></th>
                <td>{{shelf.id}}</td>
            </tr>
            <tr>
                <th><label> <b> Name: </b></label></th>
                <td><input type="text" class="form-control" id="name" [(ngModel)]="book.name" name="name"></td>
            </tr>
            <tr>
                <th><label> <b> Author: </b></label></th>
                <td><input type="text" class="form-control" id="author" [(ngModel)]="book.author" name="author"></td>
            </tr>
            <tr>
                <th><label> <b>Page Number : </b></label></th>
                <td><input type="text" class="form-control" id="pageNumber" [(ngModel)]="book.pageNumber" name="pageNumber"></td>
            </tr>
            <tr>
                <td><label><button class="btn btn-success" type="submit">Submit</button></label></td>
            </tr>
        </table>
    </div>
    </form>
</div>