<h3 align = "center"> View Shelf Details</h3>
<div class="shelf" align="center">
    <table class="table mat-table">
        <tr>
            <th><label> <b> ID: </b></label></th>
            <td>{{shelf.id}}</td>
            </tr>
            <tr>
                <th><label> <b> Name: </b></label></th>
                <td>{{shelf.name}}</td>
            </tr>
            <tr>
                <tr>
                <th><label> <b> Category: </b></label></th>
                <td>{{shelf.category}}</td>
            </tr>
            <tr>
                <tr>
                <th><label> <b> Storage: </b></label></th>
                <td>{{shelf.storage}}</td>
            </tr>
    </table>
</div>