<div class="form-container">
    <h3>Book : update</h3>
    <hr>
    <form>
        <div class="form-field">
                    <label for="name">Name :</label>
                    <input type="text" id="name" name="name" [(ngModel)]="book.name" required>
        </div>
                <div class="form-field">
                    <label>Author :</label>
                     <input type="text" class="form-control" id="name" [(ngModel)]="book.author" name="author">
                </div>
                <div class="form-field">
                    <label>Page Number :</label>
                     <input type="text" class="form-control" id="Storage" [(ngModel)]="book.pageNumber" name="pageNumber">
                </div>
                <div class="form-buttons">
                    <button class="btn btn-success" type="submit" (click)="onSubmit()">Update</button>
                    <button class="btn btn-success" type="reset">Reset</button>
                    <button class="btn btn-success" type="submit" (click)="goToList()">Books</button>
                </div>
    </form>
</div>