<div class="col-md-6 offset-md-3" align="center">
    <h3>Update Book</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name : </label>
            <input type="text" class="form-control" id="name" 
                   [(ngModel)]="book.name" name="name">
        </div>

        <div class="form-group">
            <label>Author : </label>
            <input type="text" class="form-control" id="Storage" 
                   [(ngModel)]="book.author" name="author">
        </div>

        <div class="form-group">
            <label>Page Number : </label>
            <input type="text" class="form-control" id="Storage" 
                   [(ngModel)]="book.pageNumber" name="pageNumber">
        </div>

        <div class="form-group">
            <label>Category : </label>
            <input type="text" class="form-control" id="Storage" 
                   [(ngModel)]="book.category" name="category">
        </div>

        <button class="btn btn-success" type="submit">Update</button>

    </form>
</div>