<h3 align="center">Update Book</h3>
<div class="book">
    <form (ngSubmit)="onSubmit()">
            <table class="table mat-table">
                <tr>
                    <th><label> <b> Name : </b></label></th>
                     <td> <input type="text" class="form-control" id="name" 
                        [(ngModel)]="book.name" name="name"></td>
                </tr>
                <tr>
                    <th><label> <b> Author : </b></label></th>
                     <td> <input type="text" class="form-control" id="name" 
                        [(ngModel)]="book.author" name="author"></td>
                </tr>
                <tr>
                    <th><label>Page Number : </label></th>
                     <td> <input type="text" class="form-control" id="Storage" 
                        [(ngModel)]="book.pageNumber" name="pageNumber"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-success" type="submit">Update</button></td>
                </tr>
        </table>
    </form>
</div>