<div class="book" align="center">
    <h2 >Book List</h2> 
    <table class="table mat-table">
        <thead class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Page Number</th>
                <th>Author</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.pageNumber }}</td>
                <td>{{ book.author}} </td>
                <td>{{ book.category}} </td>
                <td><button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button> &nbsp;
                    <button (click)="updateBook(book.id)" class="btn btn-danger">Update</button> &nbsp;
                    <button (click)="detailsBook(book.id)" class="btn btn-danger">Details</button>
                </td>
            </tr>
        </tbody>
    
    </table>
    
    <hr> 
    <h2 >Shelf - Book List </h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Shelf ID</th>
                <th>Shelf Name</th>
                <th>ID</th>
                <th>Name</th>
                <th>Catogory</th>
                <th>Page Number</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.shelfId }}</td>
                    <td>{{ book.shelfName}}</td>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.pageNumber }}</td>
                    <td>{{ book.author}}</td>
                </tr>
            
        </tbody>
    </table>
    
    </div>