form, th , td, h3, label {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: black;
  color: white;
}

table tr:nth-child(even) {
  background-color: black;
  color: white;
}
