<h3 align="center">Update Shelf</h3> 
<div class="shelf">
    <form (ngSubmit)="onSubmit()">
        <table class="table mat-table">
            <tr>
                <th><label> <b> Name : </b></label></th>
                 <td> <input type="text" class="form-control" id="name" 
                    [(ngModel)]="shelf.name" name="name"></td>
            </tr>
            <tr>
            <th><label> <b> Storage : </b></label></th>
            <td><input type="text" class="form-control" id="Storage" 
                [(ngModel)]="shelf.storage" name="storage"></td>
            </tr>
            <tr>
                <th><b><label>Category : </label></b></th>
                <td><select [(ngModel)]="selectedCategory">
                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                  </select></td>
            </tr>
            <td><button class="btn btn-success" type="submit">Update</button></td>
        </table>
    </form>
</div>