<hr>
<div class="table-container" style="text-align: center;">
<h2 >Library List</h2> 
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Actions</th>
            <th>Shelf Actions</th>
            <th><button class="button" type="submit" (click)="saveLibrary(library)" class="btn btn-info">Add</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let library of libraries">
            <td>{{ library.id }}</td>
            <td>{{ library.name }}</td>
            <td>{{ library.capacity }}</td>
            <td><button class="button" type="submit" (click)="deleteLibrary(library.id)" class="btn btn-danger">Delete</button> &nbsp;
                <button class="button" type="submit" (click)="updateLibrary(library.id)" class="btn btn-danger">Update</button> &nbsp;
                <button class="button" type="submit" (click)="detailsLibrary(library.id)" class="btn btn-danger">Details</button>
            </td>
            <td><button class="button" type="submit" (click)="addToShelf(library.id)" class="btn btn-danger">Add</button> &nbsp;
                <button class="button" type="submit" (click)="removeAllShelves(library.id)" class="btn btn-danger">Delete All</button>
            </td>
        </tr>
    </tbody>
</table>

<hr> 
<h2 >Library - Shelf List </h2>
<table>
    <thead>
        <tr>
            <th>Library ID</th>
            <th>Library Name</th>
            <th>ID</th>
            <th>Name</th>
            <th>Storage</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let shelf of shelves">
                <td>{{ shelf.libraryId }}</td>
                <td>{{ shelf.libraryName }}</td>
                <td>{{ shelf.id }}</td>
                <td>{{ shelf.name }}</td>
                <td>{{ shelf.storage }}</td>
            </tr>
        
    </tbody>
</table>
</div>